.servico-info{
    max-width: 100%;
    margin: 20px auto 0;
    padding: 0 20px;
}

.servico-info article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.servico-info h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-info p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
    padding: 20px;
}

